In [128]:
import numpy as np
import pandas as pd
import os
import sys
import datetime

In [129]:
read_date=pd.read_csv('convert_date.csv',',')
# read_date=read_date.set_index([0,1])
read_date.head()

,0,1,2018-03-07 08:00,2018-03-07 09:00,2018-03-07 10:00,2018-03-07 11:00,2018-03-07 12:00,2018-03-07 13:00,2018-03-07 14:00,2018-03-07 15:00,...,2018-03-09 23:00,2018-03-10 00:00,2018-03-10 01:00,2018-03-10 02:00,2018-03-10 03:00,2018-03-10 04:00,2018-03-10 05:00,2018-03-10 06:00,2018-03-10 07:00,2018-03-10 08:00
0,N01,HS,0.49,0.48,0.46,0.45,0.43,0.42,0.41,0.40,...,0.35,0.35,0.35,0.35,0.35,0.35,0.36,0.36,0.39,0.42
1,N01,PER,3.14,3.14,3.20,3.27,3.34,3.38,3.41,3.44,...,3.70,3.74,3.81,3.90,3.95,3.93,3.85,3.66,3.30,3.05
2,N01,DIR,11.19,11.21,12.50,14.01,15.01,15.63,16.05,16.31,...,17.03,17.33,17.59,17.84,17.62,16.95,15.89,13.79,9.30,5.26
3,N02,HS,0.44,0.43,0.42,0.41,0.40,0.40,0.39,0.38,...,0.31,0.32,0.32,0.32,0.32,0.32,0.32,0.34,0.39,0.45
4,N02,PER,4.03,4.05,4.06,4.04,4.02,3.99,3.94,3.94,...,4.29,4.36,4.42,4.47,4.44,4.35,4.15,3.76,3.28,3.07

#### 1对调code和facotr列

##### 1.1 获取所有的columns

In [130]:
cols = list(read_date)

##### 1.2 获取'1'（factor）的所在位置，并移至第一列

* list.pop 用于移除列表中的一个元素（默认最后一个元素），并且返回该元素的值。

In [131]:
cols.insert(0, cols.pop(cols.index('1')))

* 找到所有的HS的列

In [133]:
read_date=read_date.set_index(['1','0'])

In [135]:
read_date.T.head()

1,HS,PER,DIR,HS,PER,DIR,HS,PER,DIR,HS,...,DIR,HS,PER,DIR,HS,PER,DIR,HS,PER,DIR
0,N01,N01,N01,N02,N02,N02,N03,N03,N03,N04,...,S48,S49,S49,S49,S50,S50,S50,S51,S51,S51
2018-03-07 08:00,0.49,3.14,11.19,0.44,4.03,335.34,0.19,3.68,339.40,0.52,...,171.44,0.13,3.10,248.49,0.29,3.93,238.07,0.74,4.24,320.09
2018-03-07 09:00,0.48,3.14,11.21,0.43,4.05,335.34,0.19,3.61,341.41,0.51,...,262.09,0.13,3.05,248.99,0.30,3.83,238.61,0.78,4.19,320.09
2018-03-07 10:00,0.46,3.20,12.50,0.42,4.06,335.40,0.20,3.32,345.22,0.51,...,259.90,0.14,2.98,249.56,0.32,3.67,239.39,0.83,4.18,320.27
2018-03-07 11:00,0.45,3.27,14.01,0.41,4.04,335.90,0.21,3.05,348.24,0.51,...,259.47,0.15,2.90,250.21,0.35,3.45,240.47,0.89,4.19,314.53
2018-03-07 12:00,0.43,3.34,15.01,0.40,4.02,336.39,0.24,2.84,351.14,0.52,...,260.42,0.17,2.69,251.63,0.40,3.26,241.54,0.93,4.22,306.30

In [138]:
# read_date.T['HS',:]
df_convert_1=read_date.T['HS']
df_convert_1.head()

0,N01,N02,N03,N04,N05,N06,N07,N08,N09,N10,...,S42,S43,S44,S45,S46,S47,S48,S49,S50,S51
2018-03-07 08:00,0.49,0.44,0.19,0.52,0.82,0.76,0.47,0.71,0.74,0.71,...,0.62,0.38,0.22,0.07,0.10,0.11,0.09,0.13,0.29,0.74
2018-03-07 09:00,0.48,0.43,0.19,0.51,0.80,0.75,0.46,0.70,0.71,0.66,...,0.62,0.38,0.22,0.07,0.09,0.11,0.09,0.13,0.30,0.78
2018-03-07 10:00,0.46,0.42,0.20,0.51,0.78,0.73,0.45,0.68,0.66,0.61,...,0.63,0.38,0.23,0.07,0.08,0.10,0.09,0.14,0.32,0.83
2018-03-07 11:00,0.45,0.41,0.21,0.51,0.77,0.72,0.43,0.66,0.61,0.56,...,0.64,0.38,0.23,0.07,0.08,0.10,0.10,0.15,0.35,0.89
2018-03-07 12:00,0.43,0.40,0.24,0.52,0.75,0.70,0.41,0.64,0.57,0.51,...,0.64,0.37,0.23,0.07,0.08,0.09,0.10,0.17,0.40,0.93

### 3 提取每一列

* 遍历数据的每一行

In [143]:
def create_temp_df(df_convert_1,columns_key,nowday):
    df_new=pd.DataFrame(df_convert_1.loc[:,columns_key])    
#     print(df_new)
    df_new['code']=columns_key
    df_new['date']=nowday
    df_new=df_new.reset_index()
    df_new=df_new.rename(columns={'index':'tdate'})
    df_new=df_new.rename(columns={columns_key:'hs'})
#     print(df_new)
    return df_new

In [144]:
df_merage=pd.DataFrame(columns=['tdate','hs','code','date'])
for val in df_convert_1.columns.values:
    df_temp=create_temp_df(df_convert_1,val,'2018-03-13')
#     print(df_temp)
    df_merage=df_merage.append(df_temp)

In [145]:
df_merage

               tdate    hs code        date
0   2018-03-07 08:00  0.49  N01  2018-03-13
1   2018-03-07 09:00  0.48  N01  2018-03-13
2   2018-03-07 10:00  0.46  N01  2018-03-13
3   2018-03-07 11:00  0.45  N01  2018-03-13
4   2018-03-07 12:00  0.43  N01  2018-03-13
5   2018-03-07 13:00  0.42  N01  2018-03-13
6   2018-03-07 14:00  0.41  N01  2018-03-13
7   2018-03-07 15:00  0.40  N01  2018-03-13
8   2018-03-07 16:00  0.39  N01  2018-03-13
9   2018-03-07 17:00  0.38  N01  2018-03-13
10  2018-03-07 18:00  0.37  N01  2018-03-13
11  2018-03-07 19:00  0.57  N01  2018-03-13
12  2018-03-07 20:00  0.76  N01  2018-03-13
13  2018-03-07 21:00  0.95  N01  2018-03-13
14  2018-03-07 22:00  1.34  N01  2018-03-13
15  2018-03-07 23:00  1.84  N01  2018-03-13
16  2018-03-08 00:00  2.33  N01  2018-03-13
17  2018-03-08 01:00  2.54  N01  2018-03-13
18  2018-03-08 02:00  2.86  N01  2018-03-13
19  2018-03-08 03:00  2.70  N01  2018-03-13
20  2018-03-08 04:00  2.92  N01  2018-03-13
21  2018-03-08 05:00  3.42  N01  2018-03-13
22  2018-03-08 06:00  3.42  N01  2018-03-13
23  2018-03-08 07:00  3.53  N01  2018-03-13
24  2018-03-08 08:00  3.45  N01  2018-03-13
25  2018-03-08 09:00  3.46  N01  2018-03-13
26  2018-03-08 10:00  3.65  N01  2018-03-13
27  2018-03-08 11:00  3.93  N01  2018-03-13
28  2018-03-08 12:00  4.41  N01  2018-03-13
29  2018-03-08 13:00  4.40  N01  2018-03-13
..               ...   ...  ...         ...
43  2018-03-09 03:00  1.16  S51  2018-03-13
44  2018-03-09 04:00  1.15  S51  2018-03-13
45  2018-03-09 05:00  1.14  S51  2018-03-13
46  2018-03-09 06:00  1.13  S51  2018-03-13
47  2018-03-09 07:00  1.13  S51  2018-03-13
48  2018-03-09 08:00  1.14  S51  2018-03-13
49  2018-03-09 09:00  1.18  S51  2018-03-13
50  2018-03-09 10:00  1.24  S51  2018-03-13
51  2018-03-09 11:00  1.29  S51  2018-03-13
52  2018-03-09 12:00  1.31  S51  2018-03-13
53  2018-03-09 13:00  1.32  S51  2018-03-13
54  2018-03-09 14:00  1.31  S51  2018-03-13
55  2018-03-09 15:00  1.30  S51  2018-03-13
56  2018-03-09 16:00  1.29  S51  2018-03-13
57  2018-03-09 17:00  1.27  S51  2018-03-13
58  2018-03-09 18:00  1.26  S51  2018-03-13
59  2018-03-09 19:00  1.24  S51  2018-03-13
60  2018-03-09 20:00  1.23  S51  2018-03-13
61  2018-03-09 21:00  1.23  S51  2018-03-13
62  2018-03-09 22:00  1.24  S51  2018-03-13
63  2018-03-09 23:00  1.27  S51  2018-03-13
64  2018-03-10 00:00  1.30  S51  2018-03-13
65  2018-03-10 01:00  1.34  S51  2018-03-13
66  2018-03-10 02:00  1.39  S51  2018-03-13
67  2018-03-10 03:00  1.41  S51  2018-03-13
68  2018-03-10 04:00  1.39  S51  2018-03-13
69  2018-03-10 05:00  1.36  S51  2018-03-13
70  2018-03-10 06:00  1.32  S51  2018-03-13
71  2018-03-10 07:00  1.30  S51  2018-03-13
72  2018-03-10 08:00  1.29  S51  2018-03-13

[15549 rows x 4 columns]

### 4 数据入库